<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div *ngIf="securityObject.isAuthenticated" 
      class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/list">list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/media-form">Add a Movie</a>
          </li>
        </ul>
      </div>
      <div class="navbar-nav">
        <a *ngIf="!securityObject.isAuthenticated" class="nav-item nav-link text-right" routerLink="/login" tabindex="-1">Login</a>
        <a *ngIf="securityObject.isAuthenticated" class="nav-item nav-link text-right" routerLink="/logout" tabindex="-1" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>
<h2>Movie Watch List</h2>
<p>List of Movies I want to watch</p>
<router-outlet></router-outlet>
<!-- <app-media-form></app-media-form>
<app-media-list></app-media-list> -->