
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.shutterstock.com/image-vector/online-cinema-art-movie-watching-260nw-584655766.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary" (click)="watchTrailer()">Trailer</a>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
      </ul>
  </div>
