<form [formGroup]="myForm" 
(ngSubmit)="onSubmit(myForm.value)"
action="">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="name" name="name" class="form-control" id="exampleFormControlInput1" placeholder="name" formControlName="name">
      </div>
      <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Medium</label>
      <select name="medium" class="form-select" id="inputGroupSelect01" formControlName="medium">
        <option selected>Choose...</option>
        <option value="Series">Series</option>
        <option value="Movies">Movies</option>
        <option value="Anime">Anime</option>
      </select>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Rating</span>
        <input type="text" class="form-control" aria-label="Value of 1 to 10" name="rating" formControlName="rating">
        <span class="input-group-text">/10</span>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" formControlName="description"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
</form>

