<div class="col">
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top"
        src="..."
        alt="Card image cap">
      <div class="card-body">
        <a routerLink="/movie/">
          <h5 class="card-title"></h5>
        </a>
        <p class="card-text"></p>
      </div>
  
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> Medium - </li>
        <li class="list-group-item">Rating - </li>
      </ul>
    </div>
  </div>
